### Import necessary packages

In [1]:
import openpyxl
import math
import io
import os
import json

import pandas as pd
import numpy as np

import csv
from csv import DictReader
from openpyxl import Workbook, load_workbook
from datetime import date, datetime
from pathlib import Path

# Github Link

### To view the source code for this project, click the link here: https://github.com/Aaron-M-R

### To use the program, run the cells below and fill in the necessary information

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from BudgeJudy import *

Enter the starting date for your budget:
Starting Year (YYYY)
2022
Starting Month (MM)
8
Starting Day (DD)
1
Enter the ending date for your budget:
Do you want to see your spending up to the present? (Y/N)
y

### Read in spreadsheet from data folder

In [4]:
filepath = Path('Data') / 'PracticeCheckingSheet.xlsx'
df = pd.read_excel(filepath)
df.head()

,Transactions for Checking account ...296 as of 08/11/2023 09:46:44 AM ET,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Date,Type,Check #,Description,Withdrawal (-),Deposit (+),RunningBalance
1,Pending Transactions are not reflected within ...,NaN,NaN,NaN,NaN,NaN,NaN
2,Posted Transactions,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-07-31 00:00:00,INTADJUST,NaN,Interest Paid,NaN,0.75,2018.15
4,2023-07-31 00:00:00,ATMREBATE,NaN,ATM Fee Rebate,NaN,2,2017.4

### Rename columns

In [5]:
new_columns = dict(zip(df.columns.values, df.iloc[0]))
df = df.rename(columns = new_columns).iloc[3:]
df.head()

,Date,Type,Check #,Description,Withdrawal (-),Deposit (+),RunningBalance
3,2023-07-31 00:00:00,INTADJUST,NaN,Interest Paid,NaN,0.75,2018.15
4,2023-07-31 00:00:00,ATMREBATE,NaN,ATM Fee Rebate,NaN,2,2017.4
5,2023-07-31 00:00:00,VISA,NaN,Peculiar Pub NEW YORK,23.2,NaN,2015.4
6,2023-07-31 00:00:00,VISA,NaN,GMT TAVERN NEW YORK,23.52,NaN,2038.6
7,2023-07-30 00:00:00,ATM,NaN,One Abingdon Square Ent NEW YORK,62,NaN,2062.12

### Create DataFrame for monthly totals

In [6]:
bymonth = pd.DataFrame()

### Read in category dictionary

In [65]:
# Read in category descriptions, totals and monthly totals

f = Path('Data') / 'category_descriptions.json'
categories = json.loads(f.read_text())

f = Path('Data') / 'category_totals.json'
totals = json.loads(f.read_text())

f = Path('Data') / 'bymonth_totals.json'
bymonth_totals = json.loads(f.read_text())

In [63]:
# Convert and write JSON objects to files

# path = Path("Data") / "category_descriptions.json"
# with open(path, "w") as outfile: 
#     json.dump(categories, outfile)
    
# path = Path("Data") / "category_totals.json"
# with open(path, "w") as outfile: 
#     json.dump(totals, outfile)

# path = Path("Data") / "bymonth_totals.json"
# with open(path, "w") as outfile: 
#     json.dump(bymonth_totals, outfile)

### Crop the rows according to desired date range

### Replace store code in Description column to readable category
###

In [9]:
df

,Date,Type,Check #,Description,Withdrawal (-),Deposit (+),RunningBalance
3,2023-07-31 00:00:00,INTADJUST,NaN,Interest Paid,NaN,0.75,2018.15
4,2023-07-31 00:00:00,ATMREBATE,NaN,ATM Fee Rebate,NaN,2,2017.4
5,2023-07-31 00:00:00,VISA,NaN,Peculiar Pub NEW YORK,23.2,NaN,2015.4
6,2023-07-31 00:00:00,VISA,NaN,GMT TAVERN NEW YORK,23.52,NaN,2038.6
7,2023-07-30 00:00:00,ATM,NaN,One Abingdon Square Ent NEW YORK,62,NaN,2062.12
...,...,...,...,...,...,...,...
383,2022-07-04 00:00:00,DEPOSIT,NaN,Deposit Mobile Banking,NaN,565,1071.32
384,2022-07-02 00:00:00,DEPOSIT,NaN,Deposit Mobile Banking,NaN,200,506.32
385,2022-06-30 00:00:00,INTADJUST,NaN,Interest Paid,NaN,NaN,306.32
386,2022-06-29 00:00:00,ACH,NaN,ADVANTAGE WORKFO DIRECT DEP SD1700,NaN,125.32,306.32
387,2022-06-25 00:00:00,DEPOSIT,NaN,Deposit Mobile Banking,NaN,181,181

In [10]:
# Returns date in MM-DD-YYYY format
def dater(date):
    day = datetime.strptime(str(date)[:10], "%Y-%m-%d")
    return day

In [11]:
df['Date'] = df['Date'].apply(dater)

### Combine Deposit and Withdrawal columns into one Amount column

In [12]:
# Combines withdrawal and deposit columns into one 'amount' column
def amount(df):
    if not math.isnan(df[4]):
        return -df[4]
    if not math.isnan(df[5]):
        return df[5]
    else:
        return 0

In [13]:
df['Amount'] = df.apply(amount, axis=1)

### Select date range given earlier

In [15]:
def date_range(date):
    start = pd.to_datetime(first_fiscal, format="%Y-%m-%d")
    end = pd.to_datetime(last_fiscal, format="%Y-%m-%d")
    this = pd.to_datetime(date, format="%Y-%m-%d")
    return (end-this).days>=0 and (this-start).days>=0

In [16]:
df = df[df['Date'].apply(date_range)]

In [21]:
new_columns = ['Date', 'Category', 'Subcategory', 'Store', 'Amount', 'Remaining Balance']

In [22]:


####### Statistics ##########

col_number = 72
col_letter = chr(col_number)

for category in totals.items():

    row_number = 10
    category_total = 0

    # account for excel's switch from Z to AA
    if col_number > 90:
        col_letter = 'A' + chr(col_number - 26)
    else:
        col_letter = chr(col_number)

    # Loop through each subcategory to record names
    for subcategory in category[1].keys():
        newsheet[col_letter + str(row_number)] = subcategory
        row_number += 1

    # move to next column and start at top
    col_number += 1
    row_number = 10

    # account for excel's switch from Z to AA
    if col_number > 90:
        col_letter = 'A' + chr(col_number - 26)
    else:
        col_letter = chr(col_number)

    # write category name in sheet
    newsheet[col_letter + '8'] = category[0].upper()

    # Loop through each subcategory to record amounts
    for subcategory in category[1].keys():
        newsheet[col_letter + str(row_number)] = totals[category[0]][subcategory]
        row_number += 1

    # move to next category's column
    col_number += 2


# Monthly total labels

newsheet['H20'] = 'Month'
row = 21

for category in list(bymonth_totals.keys()):
    newsheet['H' + str(row)] = category
    row += 1


wb.save('PracticeCheckingSheet.xlsx')

NameError: name 'newsheet' is not defined

In [ ]:
descriptions