### Import necessary packages

In [1]:
import openpyxl
import math
import io
import os
import json

import pandas as pd
import numpy as np

import csv
from csv import DictReader
from openpyxl import Workbook, load_workbook
from datetime import date, datetime
from pathlib import Path

# Github Link

### To view the source code for this project, click the link here: https://github.com/Aaron-M-R/Budget

### To use the program, run the cells below and fill in the necessary information

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from BudgeJudy import *

Enter the starting date for your budget:
Starting Year (YYYY)
2023
Starting Month (MM)
1
Starting Day (DD)
1
Enter the ending date for your budget:
Do you want to see your spending up to the present? (Y/N)
y

### Read in spreadsheet from data folder

In [4]:
filepath = Path('Data') / 'PracticeCheckingSheet.xlsx'
df = pd.read_excel(filepath)
df.head()

,Transactions for Checking account ...296 as of 08/11/2023 09:46:44 AM ET,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Date,Type,Check #,Description,Withdrawal (-),Deposit (+),RunningBalance
1,Pending Transactions are not reflected within ...,NaN,NaN,NaN,NaN,NaN,NaN
2,Posted Transactions,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-07-31 00:00:00,INTADJUST,NaN,Interest Paid,NaN,0.75,2018.15
4,2023-07-31 00:00:00,ATMREBATE,NaN,ATM Fee Rebate,NaN,2,2017.4

### Rename columns

In [5]:
new_columns = dict(zip(df.columns.values, df.iloc[0]))
df = df.rename(columns = new_columns).iloc[3:]
df.head()

,Date,Type,Check #,Description,Withdrawal (-),Deposit (+),RunningBalance
3,2023-07-31 00:00:00,INTADJUST,NaN,Interest Paid,NaN,0.75,2018.15
4,2023-07-31 00:00:00,ATMREBATE,NaN,ATM Fee Rebate,NaN,2,2017.4
5,2023-07-31 00:00:00,VISA,NaN,Peculiar Pub NEW YORK,23.2,NaN,2015.4
6,2023-07-31 00:00:00,VISA,NaN,GMT TAVERN NEW YORK,23.52,NaN,2038.6
7,2023-07-30 00:00:00,ATM,NaN,One Abingdon Square Ent NEW YORK,62,NaN,2062.12

### Create DataFrame for monthly totals

In [6]:
bymonth = pd.DataFrame()

### Read in category dictionary

In [7]:
# Read in category descriptions, totals and monthly totals

f = Path('Data') / 'category_descriptions.json'
categories = json.loads(f.read_text())

f = Path('Data') / 'category_totals.json'
totals = json.loads(f.read_text())

f = Path('Data') / 'bymonth_totals.json'
bymonth_totals = json.loads(f.read_text())

In [8]:
# Convert and write JSON objects to files

# path = Path("Data") / "category_descriptions.json"
# with open(path, "w") as outfile: 
#     json.dump(categories, outfile)
    
# path = Path("Data") / "category_totals.json"
# with open(path, "w") as outfile: 
#     json.dump(totals, outfile)

# path = Path("Data") / "bymonth_totals.json"
# with open(path, "w") as outfile: 
#     json.dump(bymonth_totals, outfile)

### Crop the rows according to desired date range

### Replace store code in Description column to readable category
###

In [9]:
df

,Date,Type,Check #,Description,Withdrawal (-),Deposit (+),RunningBalance
3,2023-07-31 00:00:00,INTADJUST,NaN,Interest Paid,NaN,0.75,2018.15
4,2023-07-31 00:00:00,ATMREBATE,NaN,ATM Fee Rebate,NaN,2,2017.4
5,2023-07-31 00:00:00,VISA,NaN,Peculiar Pub NEW YORK,23.2,NaN,2015.4
6,2023-07-31 00:00:00,VISA,NaN,GMT TAVERN NEW YORK,23.52,NaN,2038.6
7,2023-07-30 00:00:00,ATM,NaN,One Abingdon Square Ent NEW YORK,62,NaN,2062.12
...,...,...,...,...,...,...,...
383,2022-07-04 00:00:00,DEPOSIT,NaN,Deposit Mobile Banking,NaN,565,1071.32
384,2022-07-02 00:00:00,DEPOSIT,NaN,Deposit Mobile Banking,NaN,200,506.32
385,2022-06-30 00:00:00,INTADJUST,NaN,Interest Paid,NaN,NaN,306.32
386,2022-06-29 00:00:00,ACH,NaN,ADVANTAGE WORKFO DIRECT DEP SD1700,NaN,125.32,306.32
387,2022-06-25 00:00:00,DEPOSIT,NaN,Deposit Mobile Banking,NaN,181,181

In [10]:
# Returns date in MM-DD-YYYY format
def dater(date):
    day = datetime.strptime(str(date)[:10], "%Y-%m-%d")
    return day

In [11]:
df['Date'] = df['Date'].apply(dater)

### Combine Deposit and Withdrawal columns into one Amount column

In [12]:
# Combines withdrawal and deposit columns into one 'amount' column
def amount(df):
    if not math.isnan(df[4]):
        return -df[4]
    if not math.isnan(df[5]):
        return df[5]
    else:
        return 0

In [13]:
df['Amount'] = df.apply(amount, axis=1)

### Select date range given earlier

In [14]:
def date_range(date):
    start = pd.to_datetime(first_fiscal, format="%Y-%m-%d")
    end = pd.to_datetime(last_fiscal, format="%Y-%m-%d")
    this = pd.to_datetime(date, format="%Y-%m-%d")
    return (end-this).days>=0 and (this-start).days>=0

In [15]:
df = df[df['Date'].apply(date_range)]

## Add columns that describe charge
- Takes in the type, description, and amount of charge.
- Updates overall and bymonth totals.
- Return category, subcategory and code of charge for dataframe.

In [16]:
# Takes in type and description of charge and returns a tri tuple of info
def description_and_amount(Type, Description, Amount):

    for category in list(categories.items()):
        for subcategory in list(category[1].items()):
            for code in subcategory[1]:
                if code.lower() in Description or code.lower() in Type:

                    # update by-month totals (capitalizing first letter)
                    bymonth_totals[category[0][0].upper() + category[0][1:]] += Amount

#                     record_bymonthly_totals()

                    # update subcategory total
                    totals[category[0]][subcategory[0]] += Amount

                    # update category total
                    totals[category[0]]["Total"] += Amount

                    # return category, subcategory and charge description
                    return [category[0], subcategory[0], code]
                
#     record_bymonthly_totals()

    # update by-month totals
    bymonth_totals["Miscellaneous"] += Amount

    # update category total
    totals["miscellaneous"]["Total"] += Amount

    # updates miscellaneous category
    totals["miscellaneous"]["Miscellaneous"] += Amount
    return ["miscellaneous", "Miscellaneous", code]

In [17]:
df['description'] = df.apply(lambda x: description_and_amount(x["Type"], x["Description"], x["Amount"]), axis=1)
df[['category','subcategory', 'code']] = pd.DataFrame(df.description.tolist(), index=df.index)
df

/var/folders/04/m_rmq6013ln6qkmx48cqwnjh0000gn/T/ipykernel_19749/1143284733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['description'] = df.apply(lambda x: description_and_amount(x["Type"], x["Description"], x["Amount"]), axis=1)
/var/folders/04/m_rmq6013ln6qkmx48cqwnjh0000gn/T/ipykernel_19749/1143284733.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['category','subcategory', 'code']] = pd.DataFrame(df.description.tolist(), index=df.index)
/var/folders/04/m_rmq6013ln6qkmx48cqwnjh0000gn/T/ipykernel_19749/1143284733.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['category','subcategory', 'code']] = pd.DataFrame(df.description.tolist(), index=df.index)
/var/folders/04/m_rmq6013ln6qkmx48cqwnjh0000gn/T/ipykernel_19749/1143284733.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['category','subcategory', 'code']] = pd.DataFrame(df.description.tolist(), index=df.index)

,Date,Type,Check #,Description,Withdrawal (-),Deposit (+),RunningBalance,Amount,description,category,subcategory,code
3,2023-07-31,INTADJUST,NaN,Interest Paid,NaN,0.75,2018.15,0.75,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST
4,2023-07-31,ATMREBATE,NaN,ATM Fee Rebate,NaN,2,2017.4,2.00,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST
5,2023-07-31,VISA,NaN,Peculiar Pub NEW YORK,23.2,NaN,2015.4,-23.20,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST
6,2023-07-31,VISA,NaN,GMT TAVERN NEW YORK,23.52,NaN,2038.6,-23.52,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST
7,2023-07-30,ATM,NaN,One Abingdon Square Ent NEW YORK,62,NaN,2062.12,-62.00,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2023-01-14,VISA,NaN,TARGET STORE T3369 9500 LA JOLLA,2.54,NaN,937.06,-2.54,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST
196,2023-01-13,VISA,NaN,"CURRY UP NOW LA JOLLA SAN DIEG, O #000",8.62,NaN,939.6,-8.62,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST
197,2023-01-13,ACH,NaN,VENMO PAYMENT 230112,22,NaN,948.22,-22.00,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST
198,2023-01-10,VISA,NaN,"IN N OUT BURGER 069 SAN DIEG, O #000",9.97,NaN,970.22,-9.97,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST
199,2023-01-03,ACH,NaN,VENMO CASHOUT 230101,NaN,49.5,980.19,49.50,"[miscellaneous, Miscellaneous, INTADJUST]",miscellaneous,Miscellaneous,INTADJUST

In [18]:
new_columns = ['Date', 'Category', 'Subcategory', 'Store', 'Amount', 'Remaining Balance']

In [21]:
df = df[['Date', 'category', 'subcategory', 'code', 'Amount', 'RunningBalance']]
df

          Date       category    subcategory       code  Amount RunningBalance
3   2023-07-31  miscellaneous  Miscellaneous  INTADJUST    0.75        2018.15
4   2023-07-31  miscellaneous  Miscellaneous  INTADJUST    2.00         2017.4
5   2023-07-31  miscellaneous  Miscellaneous  INTADJUST  -23.20         2015.4
6   2023-07-31  miscellaneous  Miscellaneous  INTADJUST  -23.52         2038.6
7   2023-07-30  miscellaneous  Miscellaneous  INTADJUST  -62.00        2062.12
..         ...            ...            ...        ...     ...            ...
195 2023-01-14  miscellaneous  Miscellaneous  INTADJUST   -2.54         937.06
196 2023-01-13  miscellaneous  Miscellaneous  INTADJUST   -8.62          939.6
197 2023-01-13  miscellaneous  Miscellaneous  INTADJUST  -22.00         948.22
198 2023-01-10  miscellaneous  Miscellaneous  INTADJUST   -9.97         970.22
199 2023-01-03  miscellaneous  Miscellaneous  INTADJUST   49.50         980.19

[197 rows x 6 columns]

In [19]:


# ####### Statistics ##########

# col_number = 72
# col_letter = chr(col_number)

# for category in totals.items():

#     row_number = 10
#     category_total = 0

#     # account for excel's switch from Z to AA
#     if col_number > 90:
#         col_letter = 'A' + chr(col_number - 26)
#     else:
#         col_letter = chr(col_number)

#     # Loop through each subcategory to record names
#     for subcategory in category[1].keys():
#         newsheet[col_letter + str(row_number)] = subcategory
#         row_number += 1

#     # move to next column and start at top
#     col_number += 1
#     row_number = 10

#     # account for excel's switch from Z to AA
#     if col_number > 90:
#         col_letter = 'A' + chr(col_number - 26)
#     else:
#         col_letter = chr(col_number)

#     # write category name in sheet
#     newsheet[col_letter + '8'] = category[0].upper()

#     # Loop through each subcategory to record amounts
#     for subcategory in category[1].keys():
#         newsheet[col_letter + str(row_number)] = totals[category[0]][subcategory]
#         row_number += 1

#     # move to next category's column
#     col_number += 2


# # Monthly total labels

# newsheet['H20'] = 'Month'
# row = 21

# for category in list(bymonth_totals.keys()):
#     newsheet['H' + str(row)] = category
#     row += 1


# wb.save('PracticeCheckingSheet.xlsx')

In [34]:
categories['miscellaneous']

{'Miscellaneous': [],
 'Banking': ['ATM', 'INTADJUST', 'VENMO', 'CASHAPP', 'ZELLE']}

          Date       category    subcategory       code  Amount RunningBalance
3   2023-07-31  miscellaneous  Miscellaneous  INTADJUST    0.75        2018.15
4   2023-07-31  miscellaneous  Miscellaneous  INTADJUST    2.00         2017.4
5   2023-07-31  miscellaneous  Miscellaneous  INTADJUST  -23.20         2015.4
6   2023-07-31  miscellaneous  Miscellaneous  INTADJUST  -23.52         2038.6
7   2023-07-30  miscellaneous  Miscellaneous  INTADJUST  -62.00        2062.12
..         ...            ...            ...        ...     ...            ...
195 2023-01-14  miscellaneous  Miscellaneous  INTADJUST   -2.54         937.06
196 2023-01-13  miscellaneous  Miscellaneous  INTADJUST   -8.62          939.6
197 2023-01-13  miscellaneous  Miscellaneous  INTADJUST  -22.00         948.22
198 2023-01-10  miscellaneous  Miscellaneous  INTADJUST   -9.97         970.22
199 2023-01-03  miscellaneous  Miscellaneous  INTADJUST   49.50         980.19

[197 rows x 6 columns]